.spinContainerOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinContainerInner {
  display: flex;
  height: 2rem;
  margin-bottom: 0.2rem;
}

button {
  border-radius: 20px;
}

button:active {
  background-color: rgb(62, 166, 195);
  transform: translateY(4px);
}

button:hover {
  cursor: pointer;
}

input {
  margin: 0 0.2rem;
  border-radius: 12px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
